<div id="menu-crud">
    {% if primary %}
        <ul class="primary-tabs">{{ primary }}</ul>
    {% endif %}

    {% if secondary %}
        <ul class="secondary-tabs">{{ secondary }}</ul>
    {% endif %}
</div>