
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bottom">
                    {{ "now"|date("Y") }} | <a href="{{ drupal_url('node/14') }}">Mentions légales</a> | Graphisme & Design <a id="tgb-link" href="https://www.thegobeliners.com/" title="Agence de communication digitale en Seine-et-Marne" target="_blank">Agence The Gobeliners</a>

                    <a id="scrollToTop" class="pointer"><span class="icon-arrow"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>