<div id="messages" style="color:red;font-size:32px;">{{ page.messages }}</div>

<header>
    <a id="logo" href="/"><img src="/themes/thegobeliners/images/logo.png" alt="Logo"></a>
    <a href="{{ url('<front>') }}" class="back-home">Retour <span class="icon-chevron"></span></a>
</header>

<div class="login-bg">
    <div class="login-box themed p-3">
        <h1>Mot de passe oublié ?</h1>

        {{ page.content }}

        <div class="password_link text-center">
            <a href="{{ path('user.login') }}">Connexion à votre compte</a>
        </div>
    </div>
</div>